In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import sklearn as sk

In [3]:
df = pd.read_csv('loan_data/loan_data_tableau.csv')

In [4]:
pd.options.display.max_columns = None
df.head(5)

,id,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,fed_reserve_region,last_credit_pull_datetime,grade,addr_state
0,1077430,2500,60,15.27,59.83,C4,0,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,1.00,0,5,3,1687,0.09,4,0.0,6,2013-09-01,C,GA
1,1076863,10000,36,13.49,339.31,C1,10,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,20.00,0,1,10,5598,0.21,37,0.0,12,2016-04-01,C,CA
2,1075269,5000,36,7.90,156.46,A4,3,RENT,36000.0,Source Verified,Dec-11,Fully Paid,wedding,11.20,0,3,9,7963,0.28,12,0.0,12,2016-01-01,A,AZ
3,1069639,7000,60,15.96,170.08,C5,8,RENT,47004.0,Not Verified,Dec-11,Fully Paid,debt_consolidation,23.51,0,1,7,17726,0.86,11,0.0,5,2016-05-01,C,NC
4,1072053,3000,36,18.64,109.43,E1,9,RENT,48000.0,Source Verified,Dec-11,Fully Paid,car,5.35,0,2,4,8221,0.88,4,0.0,12,2014-12-01,E,CA

In [5]:
df = df.drop('verification_status', axis=1)

In [36]:
df.columns

Index(['Applicant Id', 'loan Amount', 'Loan Term', 'Interest Rate',
       'Installment', 'Subgrade', 'Employment Length (Years)',
       'Home Ownership', 'Annual Income', 'Date of Issue', 'Loan Status',
       'Purpose', 'Debt to Income Ratio',
       'Number of Delinquencies Over Past Two Years',
       'Number of Credit Inquiries Past 6 Months',
       'Number of Open Credit Lines', 'Total Credit',
       'Ratio of Total Credit Utilized', 'Total Number of Credit Lines',
       'Number of Recent Bankruptcies', 'Federal Reserve Region',
       'Date of Last Credit Pull', 'Grade', 'State of Address'],
      dtype='object')

In [6]:
cols =['Applicant Id', 'loan Amount', 'Loan Term', 'Interest Rate', 'Installment', 'Subgrade',
       'Employment Length (Years)', 'Home Ownership', 'Annual Income',
       'Date of Issue', 'Loan Status', 'Purpose', 'Debt to Income Ratio', 'Number of Delinquencies Over Past Two Years',
       'Number of Credit Inquiries Past 6 Months', 'Number of Open Credit Lines', 'Total Credit', 'Ratio of Total Credit Utilized', 'Total Number of Credit Lines',
       'Number of Recent Bankruptcies', 'Federal Reserve Region',
       'Date of Last Credit Pull', 'Grade', 'State of Address']

In [7]:
df.columns = cols

In [8]:
month_dict = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 
             'Nov': 11, 'Dec': 12}

In [9]:
issue_d_list = list(df['Date of Issue'])

In [10]:
issue_d_dict = {}

sep_date = issue_d_list[0].split('-')
month = sep_date[0]
year = sep_date[1]

issue_d_dict['year'] = ['20'+year]
issue_d_dict['month'] = [month_dict[month]]

for i in np.arange(1, len(issue_d_list)):
    sep_date = issue_d_list[i].split('-')
    month = sep_date[0]
    year = sep_date[1]
    
    issue_d_dict['year'].append('20'+year)
    issue_d_dict['month'].append(month_dict[month])

In [11]:
dfissue_dates = pd.DataFrame(issue_d_dict)
dfissue_dates['day'] = '1'

In [12]:
df['Date of Issue'] = pd.to_datetime(dfissue_dates)

In [13]:
df['Number of Recent Bankruptcies'] = df['Number of Recent Bankruptcies'].astype('int')

In [54]:
df.to_csv('loan_data/loan_data_tableau_final.csv', index=False)

In [14]:
df.head()

,Applicant Id,loan Amount,Loan Term,Interest Rate,Installment,Subgrade,Employment Length (Years),Home Ownership,Annual Income,Date of Issue,Loan Status,Purpose,Debt to Income Ratio,Number of Delinquencies Over Past Two Years,Number of Credit Inquiries Past 6 Months,Number of Open Credit Lines,Total Credit,Ratio of Total Credit Utilized,Total Number of Credit Lines,Number of Recent Bankruptcies,Federal Reserve Region,Date of Last Credit Pull,Grade,State of Address
0,1077430,2500,60,15.27,59.83,C4,0,RENT,30000.0,2011-12-01,Charged Off,car,1.00,0,5,3,1687,0.09,4,0,6,2013-09-01,C,GA
1,1076863,10000,36,13.49,339.31,C1,10,RENT,49200.0,2011-12-01,Fully Paid,other,20.00,0,1,10,5598,0.21,37,0,12,2016-04-01,C,CA
2,1075269,5000,36,7.90,156.46,A4,3,RENT,36000.0,2011-12-01,Fully Paid,wedding,11.20,0,3,9,7963,0.28,12,0,12,2016-01-01,A,AZ
3,1069639,7000,60,15.96,170.08,C5,8,RENT,47004.0,2011-12-01,Fully Paid,debt_consolidation,23.51,0,1,7,17726,0.86,11,0,5,2016-05-01,C,NC
4,1072053,3000,36,18.64,109.43,E1,9,RENT,48000.0,2011-12-01,Fully Paid,car,5.35,0,2,4,8221,0.88,4,0,12,2014-12-01,E,CA

In [20]:
df["Loan Status"].value_counts()

Fully Paid     30423
Charged Off     4942
Name: Loan Status, dtype: int64

In [17]:
df2 = df.groupby(["State of Address", "Loan Status"]).count()["Applicant Id"]

In [19]:
df2.head().reset_index()

  State of Address  Loan Status  Applicant Id
0               AK  Charged Off            15
1               AK   Fully Paid            58
2               AL  Charged Off            47
3               AL   Fully Paid           350
4               AR  Charged Off            25

In [32]:
states = df["State of Address"].unique().tolist()

In [50]:
len(co)

45

In [30]:
tot = df.groupby(["State of Address"]).count()["Applicant Id"].values.tolist()

In [29]:
fp = df.loc[df["Loan Status"] == "Fully Paid"].groupby(["State of Address"]).count()["Applicant Id"].values.tolist()

In [28]:
co = df.loc[df["Loan Status"] == "Charged Off"].groupby(["State of Address"]).count()["Applicant Id"].values.tolist()

In [51]:
state_dict = {'State': states, 'Total Applicants': tot, 'Total Fully Paid Off': fp}

In [52]:
dfstates = pd.DataFrame(state_dict)

In [54]:
dfstates.head()

  State  Total Applicants  Total Fully Paid Off
0    GA                73                    58
1    CA               397                   350
2    AZ               216                   191
3    NC               758                   652
4    TX              6396                  5420

In [61]:
dfstates["Total Charged Off"] = dfstates["Total Applicants"] - dfstates["Total Fully Paid Off"]

In [62]:
dfstates["Percent Paid Off"] = (dfstates["Total Fully Paid Off"]/dfstates["Total Applicants"])*100

In [64]:
dfstates["Percent Paid Off"] = dfstates["Percent Paid Off"].round(2)

In [65]:
dfstates.to_csv("loan_data_states.csv", index=False)